* {
    font: "Onest Bold 14";
    margin: 0;
    padding: 0;
    spacing: 0;
    background-color: transparent;
    text-color: @unselected-text;

    bg: #24273add;
    selected-text: #181926;
    unselected-text: #a5adcb;
    placeholder: #8aadf480;
    blue: #8aadf4;
}
window {
    background-color: @bg;
    location: center;
    width: 670;
    border-radius: 20;
    border: 5px;
    border-color: @blue;
}
inputbar {
    font: "Onest Bold 24";
    padding: 30px 20px;
    children: [ entry ];
}
entry {
    font: inherit;
    placeholder: "???";
    placeholder-color: @placeholder;
    color: @blue;
}
listview {
    lines: 10;
    columns: 1;
    fixed-height: false;
    margin: 0px 0px 10px 0px;
}
element {
    padding: 10px;
    spacing: 16px;
    margin: 0px 10px;
    border-radius: 10;
    background-color: transparent;
}
element selected normal, element selected active {
    background-color: @blue;
    text-color: @selected-text;
}
element-icon {
    size: 1em;
}
element-text {
    text-color: inherit;
    highlight: none;
}
