$fg1: #24273a;
$blue: #8aadf4;
$purple: #c6a0f6;
$workspaces-container-bg: #363a4f;
$bg1: #a5adcb;
$bg2: #6e738d;
$sep: 16px;
$round: 14px;
$icon-size: 17px;

* {
  all: unset;
  font-family: Onest;
  font-weight: 700;
  font-size: 15px;
}

.topbar {
  background: rgba(36, 39, 58, 0.70);
  color: $fg1;
  border-radius: 0 0 $round $round;
}

.ytmusic-container {
  background: $blue;
  border-radius: 0 0 $round $round;
}
.ytmusic-info {
  padding: 0 $sep;
  transition: padding 0.1s ease;
}
.ytmusic-container:hover .ytmusic-info {
  padding: 24px;
}
.ytmusic-icon {
  font-family: monospace;
  font-size: $icon-size;
  padding-right: $sep;
}

.clock-box {
  background: $blue;
  border-radius: 0 0 $round 0;
  padding: 0 $sep;
}
.clock-icon {
  font-family: monospace;
  font-size: $icon-size;
  padding-right: 12px;
}

.volume-box {
  background: $purple;
}
.volume-icon {
  font-family: monospace;
  font-size: $icon-size;
  padding: 0 $sep;  
}
.volume-slider {
  padding-right: $sep;
  border-radius: $round;
}
.volume-slider trough {
  background: $bg2;
  border-radius: $round;
  min-height: 6px;
  min-width: 80px;
  transition: min-height 0.1s ease, min-width 0.1s ease;
}
.volume-slider highlight {
  all: unset;
  background: $fg1;
  border-radius: $round;
}
.volume-slider slider {
  background: $fg1;
  border-radius: $round;
  margin: -6px;
  transition: margin 0.1s ease;
}
.volume-slider:hover slider {
  margin: -8px;
}
.volume-slider:hover trough {
  min-height: 8px;
  min-width: 120px;
}

.ram-box {
  background: $blue;
  padding: 0 $sep;
}
.ram-icon {
  font-family: monospace;
  font-size: $icon-size;
  padding-right: $sep;
}

.cpu-box {
  background: $purple;
  padding: 0 $sep;
  border-radius: 0 0 0 $round;
}
.cpu-icon {
  font-family: monospace;
  font-size: $icon-size;
  padding-right: $sep;
}

.workspaces-container {
  background: $workspaces-container-bg;
  border-radius: 0 0 $round $round;
  padding: 0 $sep;
}

.workspace-button>* {
  font-family: monospace;
  padding: 0 10px;
  transition: font-size 0.1s ease, padding 0.1s ease, background-color 0.1s ease;
}

.workspace-button.empty>* {
  color: $bg1;
  font-size: 5px;
  margin: 2px 0 0 0;
}

.workspace-button.occupied>* {
  color: $purple;
  font-size: 9px;
}

.workspace-button.active>* {
  color: $workspaces-container-bg;
  font-size: 15px;
  border-radius: $round;
  background-color: $blue;
  padding: 0 10px 0 9px;
  min-height: 22px;
  margin: 3px 0;
}

.workspace-button:hover>* {
  padding: 0 18px;
}

.workspace-button.empty:hover>* {
  font-size: 8px;
}

.workspace-button.occupied:hover>* {
  font-size: 12px;
}

.workspace-button.active:hover>* {
  font-size: 18px;
  padding: 0 14px 0 13px;
}

.tray-container>*>*>* {
  margin-right: 10px;
}
