* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: #201f21;
  transition-property: background-color;
  transition-duration: .5s;
  font-family: 'CaskaydiaCove Nerd Font';
  color: #000000;
  min-height: 28px;
  border-radius: 0 0 14px 14px;
}

#workspaces button {
  font-family: 'CaskaydiaCove Nerd Font';
  padding: 0 4px;
  color: #c084fc;
  font-size: 16px;
  border-radius: 8px;
}

#workspaces button:hover {
  background: #545862;
}

#workspaces button.empty {
  font-size: 6px;
  color: #77727a;
}

#workspaces button.active {
  color : #60a5fa;
  font-size: 16px;
}

#pulseaudio-slider {
  padding-right: 5px;
  background: #c084fc;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
}

#pulseaudio-slider trough {
  min-height: 6px;
  min-width: 70px;
  border-radius: 999px;
  background: #e9d5ff;
}

#pulseaudio-slider highlight {
  min-width: 6px;
  border-radius: 999px;
  background: #000000;
}

#custom-audio-slider-icon {
  font-family: 'CaskaydiaCove Nerd Font';
  padding: 0 10px;
  border-radius: 0 0 0 14px;
  font-size: 15px;
  background: #c084fc;
}

#tray {
  margin-right: 8px;
}

#cpu {
  padding-right: 8px;
  background: #60a5fa;
  font-size: 15px;
  font-weight: 700;
}

#custom-cpu-icon {
  font-family: 'CaskaydiaCove Nerd Font';
  padding: 0 10px;
  font-size: 15px;
  background: #60a5fa;
}

#memory {
  padding-right: 8px;
  background: #c084fc;
  font-size: 15px;
  font-weight: 700;
}

#custom-ram-icon {
  font-family: 'CaskaydiaCove Nerd Font';
  padding: 0 10px;
  font-size: 15px;
  background: #c084fc;
}

#clock {
  padding-right: 8px;
  background: #60a5fa;
  font-size: 15px;
  font-weight: 700;
  border-radius: 0 0 14px 0;
}

#custom-clock-icon {
  font-family: 'CaskaydiaCove Nerd Font';
  padding: 0 10px;
  font-size: 15px;
  background: #60a5fa;
}

#custom-spotify {
  padding-left: 8px;
  padding-right: 12px;
  font-size: 15px;
  background-color: #4ade80;
  border-radius: 0 0 14px 14px;
}
